:root {
  --loveless-color: #ff3530;
  --gray: #5e5e5e;
}


/*FONTS -------------------------------------------*/

@font-face {
    font-family: "Proxima Nova";
    src: url("../tmp/fonts/Proxima/Proxima Nova Reg.otf");
}

@font-face {
    font-family: "Bebas";
    src: url("../tmp/fonts/Bebas/BebasNeue Bold.otf");
}



/*MAIN ----------------------------------------------*/

html, body {
    height: 100%;
}

body {
    font-family: "Proxima Nova";
    margin: 0;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

h1 {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: .5rem;
    color: #401935;
}

h2 {
    font-size: 2.2em;
    line-height: 2.2em;
    font-weight: 600;
    margin-bottom: .5rem;
    color: #1A1A1A;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #2b2b2b;
    margin-bottom: 0.5em;
}


/*HEADER -------------------------------------------*/

.header_stuff {
    width: 100%;
    float: left;
    position: fixed;
    background-color: #1A1A1A;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.main_logo { /*LOGO*/
    font-family: "Bebas";
    float: left;
    width: auto;
    font-size: 2.8em;
    color: #fff;
    margin: 20px 0 0 30px;
    /* vertical-align: middle; */
}

header {
    margin: 0 0 0 0;
    width: 100%;
    height: 60px;
    padding: 0 0 0 0;
    vertical-align: middle;
}

div.music-player {
    width: 150px;
}

div.music-player img {
    float: right;
    margin: 30px 30px 10px 0;
}



/*NAVIGATION --------------------------------------*/

nav {
    list-style: none;
    text-align: center;
    vertical-align: middle;
    flex-grow: 2;
}

nav ul {
    width: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1em;
}

nav.header-nav ul {
    padding: 15px 0 0 0;
}

nav ul li {
    font-family: "Proxima Nova";
    margin: 13px 2.5% 0px 2.5%;
    font-weight: 600;
}

nav ul li a {
    padding: 45px 15px 16px 15px;
    color: var(--gray);
    transition: color 0.2s; /* vendorless fallback */
    -o-transition: color 0.2s; /* opera */
    -ms-transition: color 0.2s; /* IE 10 */
    -moz-transition: color 0.2s; /* Firefox */
    -webkit-transition: color 0.2s; /*safari and chrome */
}

nav ul li a:hover {
    color: #fff;
    cursor: pointer;
}

a.active {
	color: #fff;
}



/*MAIN BODY -----------------------------------------*/

.main_body {
    width: 100%;
    margin-bottom: 39px;

    background-color: #f7f7f7;
    flex-grow: 1;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.main_body_content {
    padding: 20px 40px;
    max-width: 1000px;
    margin: 80px auto;
    border-radius: 12px 12px 0 0;
}

.main_body_content p {
    text-align: justify;
}



/*FOOTER -----------------------------------------------*/

footer {
    width: 100%;
	padding: 10px 0 10px 0;
    background: #271021; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */

    /* position: relative;
    z-index: 10; */

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -9999;
}

span.footer-content {
    float: left;
	margin-left: 20px;
	/* vertical-align: middle; */
}

span.footer-nav-content {
    width: 40%;
	float: right;
}

nav.footer-nav {
    text-align: right;
    display: none;
}

nav.footer-nav ul li {
    margin: 0 5% 0 0;
}

nav.footer-nav ul {
    margin: 0;
}

nav.footer-nav ul li a {
    padding: 10px 15px;
}




/*FORMS-------------------------------------------------*/

form.form-lab-1 {
    max-width: 727px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

form.form-lab-1 input {
    box-sizing: border-box; /*делаем border внутри padding'а*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border: 2px solid #1A1A1A;
    width: 100%;

    font-size: 1em;
    font-weight: bold;
}

form.form-lab-1 .not-submit-blocks {  /* Блоки ввода*/
    width: 100%;
    /* height: 100px; */
}

form.form-lab-1 .not-submit-blocks .not-submit {
    line-height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
}

form.form-lab-1 .submit { /* Блок кнопки ввода*/
    color: #fff;
    background-color: #1A1A1A;
    margin-left: 10px;
    margin-bottom: 10px;

    transition: background-color 0.2s; /* vendorless fallback */
    -o-transition: background-color 0.2s; /* opera */
    -ms-transition: background-color 0.2s; /* IE 10 */
    -moz-transition: background-color 0.2s; /* Firefox */
    -webkit-transition: background-color 0.2s; /*safari and chrome */
}

form.form-lab-1 .submit:hover { /* Блок кнопки ввода*/
    color: #1A1A1A;
    background-color: #fff;
}




/*ALBUM CONTENT-------------------------------------------------*/

/*Album Top Info*/

div.album-top {
    text-align: center;
    margin: 50px auto 50px auto;
    /* border-bottom: 3px solid #271021; */
    max-width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1.album-title {
    margin: 0;
    margin-top: 20px;
}

h2.album-band {
    margin: 20px 0 25px 0;
    line-height: 1em;
}

.album-cover {
    max-width: 300px;
    max-height: 300px;
}

div.left-album-top {
    margin-right: 10px;
}

/*Score*/

div.score-box {
    border: 5px solid var(--loveless-color);
    margin: auto;
    padding: 15px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

p.score-num {
    text-align: center;
    margin: 0;
    margin: 10px 0 0 0;
    font-weight: 700;
    color: var(--loveless-color);
    font-size: 2em;
}


/*Review*/

div.text-review {

}

span.first-review-letter {
    font-weight: 700;
    color: var(--loveless-color);
    font-size: 1.5em;
}

div.general-info {
    font-size: 1.3em;
    line-height: 1.3em;
    float: right;
    margin: 30px 30px 0 30px;
}

span.gen-inf-categories {
    font-weight: 700;
    color: var(--loveless-color);
}


/*Album Player*/

div.album-play {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

h3.play-name {
    text-align: center;
}

ul.tracklist {
    padding: 0;
    list-style: none;
    text-align: center;
}



/*MEDIA-------------------------------------------------*/

@media screen and (max-width: 960px) {

    /*Main changes -------------------------------------------------------*/

    h1 {
        font-size: 2.7em;
        font-weight: 700;
        margin-bottom: .5rem;
        color: #401935;
    }

    h2 {
        font-size: 1.5em;
        line-height: 2.2em;
        font-weight: 600;
        margin-bottom: .5rem;
        color: #1A1A1A;
    }

    p {
        font-size: 1.3em;
        line-height: 1.5em;
        color: #2b2b2b;
        margin-bottom: 0.5em;
    }



    /*Centering the logo and replacing nav elements to footer ----*/

    .header_stuff {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

	span.main_logo {
		margin-left: 0;
		padding: 0;
	}

    div.music-player {
        display: none;
    }

    nav.header-nav {
        order: 3;
        box-sizing: border-box;
        flex-basis: 100%;
        border-top: 1px solid var(--gray);
    }

	nav.footer-nav {
		display: block;
	}

    /*Reducing paddings of body -----------------------*/

    .main_body_content {
        padding-left: 12.5px;
        padding-right: 12.5px;
    }


    /*Reducing paddings of nav elements -----------------------*/

    .header-nav {
        height: 40px;
    }

    .header-nav ul {
        padding: 0 !important;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .header-nav ul li {
        margin: 0;
    }

    .header-nav ul li a {
        text-align: center;
        padding: 10px;
        margin: 0;
        font-size: 0.8em;
    }

    /* Changing albums tops to response -----------------------*/

    .album-top {
        display: flex;
        flex-wrap: wrap-reverse;
    }


    /* Changing albums covers to response -----------------------*/

    .album-cover {
        max-width: 250px;
        max-height: 250px;
    }

    /* Changing general-info to response -----------------------*/

    div.general-info {
        margin: 42px;
    }

}

@media screen and (max-width: 560px) {
    
    /* Changing general-info to response -----------------------*/

    div.general-info {
        text-align: center;
        margin: 0;
        float: none;
    }

}
